
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    flex-grow: 1;
    margin: 0 auto;
    flex-shrink: 1;
    padding: 10px 60px;
}

.header,
.sectionone,
.sectiontwo,
.sectionthree,
.sectionfour,
.footer {
    display: flex;
    width: 100%;
    flex-grow: 1;

}

.header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 15px 60px;
    justify-content: center;
    gap: 20px;
}

.header h3{
    font-size: 24px;
    color: #F9FAF8
}

.header {
    font-size: 18px;
    color: #E5E7EB;
 
}

.right img {
    width: 300px;
    height: auto;
}

.sectionone button {
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 18px;
}

.sectionone {
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 150px;
}

.sectionone .right div {
    display: flex;
    background-color: grey;
    width: 600px;
    height: 250px;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
}

.sectionone .left {
    width: 600px;
    height: 250px;
    background-color: #1F2937;
}

.sectiontwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    padding: 60px 0px;
}

.sectiontwo h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}


.header,
.sectionone,
.footer {
    background-color: #1F2937;
}

.sectionfour {
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    height: 15%;
    justify-content: center;
    align-items: center;
}

.sectionthree {
    background-color: #E5E7EB;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color:#1F2937;
    font-style: italic;
    font-size: 36px;
    height: 15%;
}

.sectionthree div {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
}

.sectionthree p {
    text-wrap: wrap;
    width: 700px;
}

.sectionthree h3 {
    display: inline;
    display: flex;
    justify-content: flex-end;
}


.sectionfour div {
    background-color: #3882f6;
    width: 75%;
    display: flex;
    flex-direction: row;
    height: 150px;
    align-items: center;
    margin: 75px 75px;
    border-radius: 10px;
    justify-content: center;
    padding: 30px 60px;
}

.sectionfour div .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    margin: 0px 0px;
}

.sectionfour div .text h3 {
    color: #F9FAF8;
    font-size: 24px;
}

.sectionfour div .text p {
    font-size: 18px;
    color: #E5E7EB;
}

.sectionfour div button {
    border:  4px solid #ffffff;
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 18px;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.gallery div {
    width: 150px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 5px 20px;
}

.gallery div p {
    text-wrap: wrap;
    width: 150px;
    text-align: center;
}

.gallery div img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header,
.footer {
    justify-content: center;
    gap: 525px;
}

.footer {
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
}